* {
  box-sizing: border-box;
  font-size: 1.1rem;
  
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.titulo-barbearia {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(to right, #d4a373, #8b4513); /* Gradiente marrom */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin: 20px 0;
}

.navbar {
  padding: 0.8rem 0;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.carousel img {
  width: 100%;
  height: 880px;
  border-radius: 8px;
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.nav-link {
  margin: 0 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  color: white !important;
}

.nav-link:hover {
  color: blanchedalmond !important;
}

.btn-success {
  border-radius: 50px;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 128, 0, 0.3);
}

.btn-success:hover {
  background-color: #1f911f;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.4);
}
/* Responsividade para dispositivos móveis */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .btn-success {
    margin-top: 0.5rem;
  }
}

header {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.navbar {
  text-align: center;
  width: 100%;
  transition: all 0.4s ease;
  height: 4em;
}

.grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form .input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
}

.btn {
  background: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.btn-small {
  background: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.finalizado td {
  text-decoration: line-through;
  color: #999;
}
/* CSS Bootstrap */

body {
  scroll-behavior: smooth;
}

.navbar-brand {
  font-size: 1.4rem;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
}
